.table-block {
    width: 100%;
    position: relative;
    overflow-x: auto;
}
.employees-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.employees-table th, .employees-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.employees-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: 500;
    background-color: #4caf6f;
    color: white;
}

.employees-table td {
    cursor: zoom-in;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.employees-table button {
    cursor: pointer;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    margin: 0 0 5px 0;
}

@media screen and (min-width: 768px) {
    .employees-table button {
        width: auto;
        margin: 0 5px;
    }
}

.employees-table button.edit {
    background-color: #f7bb44;
}

.employees-table button.delete {
    background-color: #f54747;
}

.employees-table tr:nth-child(even){background-color: #f2f2f2;}

.employees-table tr:hover {background-color: #ddd;}

