.form-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.form-field label {
    flex: 0 0 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.form-field label.required::after {
    content: '*';
    color: red;
}
.form-field input {
    height: 26px;
    margin: 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 0 10px;
    font-size: 14px;
}
.errors-list {
    width: 100%;
    background-color: indianred;
    list-style-position: inside;
    padding: 15px 0;
    border-radius: 10px;

}
.errors-list li {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0 20px;
    text-align: left;
    font-size: 15px;
    color: #520606;
}